.UserSignin{
    width: 400px;
    height: 200px;
    box-shadow: 0 0 5px black;
    text-align: center;
    margin: 5px auto;
    padding-top: 20px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.Signin-input{
    width: 250px;
    height: 25px;
    padding-left: 20px;
    border-style:groove;
    margin-bottom: 15px;
    
}
.Signin-logo{
    padding-bottom: 20px; 
    font-weight: bold;
    font-size: 25px;
}
.btn{
    width: 120px;
    height: 30px;
    background-color: aliceblue;
}